@using Mytems.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    @Html.ActionLink("Mytems", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <ul class="nav navbar-nav navbar-right">

                    @{ 
                        User user = Session["User"] as User;
                    }
                    @if (user != null)
                    {
                        @Html.ActionLink($"Hi {user.Username}", "Dashboard", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        <li><a href="/home/Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    }
                    else
                    {
                        <li><a href="/home/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="caret"></span>
                                Signup
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/customers/create">Customer</a></li>
                                <li><a href="/sellers/create">Seller</a></li>
                            </ul>
                        </li>
                        <li>&nbsp;	&nbsp;	&nbsp;	</li>
                    }


                </ul>
            </div>
        </nav>



        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>