<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mytems - @ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("/assets/img/logo/logo_transparent.png")">

    <!-- CSS here -->
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("/assets/css/owl.carousel.min.css")">
    <link rel="stylesheet" href="@Url.Content("/assets/css/flaticon.css")">
    <link rel="stylesheet" href="@Url.Content("/assets/css/slicknav.css")">
    <link rel="stylesheet" href="@Url.Content("/assets/css/animate.min.css")">
    <link rel="stylesheet" href="@Url.Content("/assets/css/magnific-popup.css")">
    <link rel="stylesheet" href="@Url.Content("/assets/css/fontawesome-all.min.css")">
    <link rel="stylesheet" href="@Url.Content("/assets/css/themify-icons.css")">
    <link rel="stylesheet" href="@Url.Content("/assets/css/slick.css")">
    <link rel="stylesheet" href="@Url.Content("/assets/css/nice-select.css")">
    <link rel="stylesheet" href="@Url.Content("/assets/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-social.css")">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="@Url.Content("/assets/img/logo/logo.png")" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                    <div class="container-fluid">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">

                                <div class="header-info-left d-flex">
                                    <div class="flag">
                                        <a href="/Home/Index" class="navbar-left"><img src="@Url.Content("/assets/img/logo/logo_black.png")" alt="" style="display: block; max-width: 100px; height: auto;"></a>

                                    </div>
                                    <select id="currencies">
                                        <option value="ILS">Shekel - ₪</option>
                                        <option value="USD">Dollar - $</option>
                                        <option value="EUR">Euro - €</option>
                                    </select>


                                    <table class="navbar-links">
                                        <tr>
                                            <td>
                                                @Html.ActionLink("Products", "Index", "Products")
                                            </td>
                                            @if (Session["User"] is Mytems.Models.Admin)
                                            {
                                                <td>@Html.ActionLink("Sellers", "Index", "Sellers")</td>
                                                <td>@Html.ActionLink("Customers", "Index", "Customers")</td>
                                                <td>@Html.ActionLink("Admins", "Index", "Admins")</td>
                                            }
                                            @if (Session["User"] is Mytems.Models.Seller)
                                            {
                                                string sellerName = (Session["User"] as Mytems.Models.Seller).Username;
                                                <td><a href="/Products?SellerUsername=@sellerName">My Products</a></td>
                                            }
                                        </tr>
                                    </table>

                                </div>
                                <div class="header-info-right">
                                    <ul>
                                        @{Mytems.Models.User user = Session["User"] as Mytems.Models.User;}
                                        @if (user != null)
                                        {
                                            if (user is Mytems.Models.Customer)
                                            {
                                                <li><a href="/Customers/Dashboard">Customer Dashboard</a></li>}
                                            else if (user is Mytems.Models.Seller)
                                            {
                                                <li><a href="/Sellers/Dashboard">Seller Dashboard</a></li>}
                                            else if (user is Mytems.Models.Admin)
                                            {
                                                <li><a href="/Admins/Dashboard">Admin Dashboard</a></li>}
                                            <li><a href="/Home/Logout">Log out</a></li>
                                        }
                                        else
                                        {
                                            <div class="dropdown">
                                                <button style="height : 10px;" class="btn btn-secondary btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Sign Up
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="/customers/create">Customer</a>
                                                    <a class="dropdown-item" href="/sellers/create">Seller</a>
                                                </div>
                                            </div>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-left d-none d-lg-block">
                                    <nav>
                                        <aside>
                                            <ul id="navigation">
                                                <li><a href="/Home/Index">Home</a></li>
                                                <li><a href="/Home/Index#hotProducts">Hot</a></li>
                                                <li><a href="/home/contact">Contact</a></li>
                                            </ul>
                                        </aside>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <form action="/products/index" method="get">
                                            <div class="form-box f-right ">
                                                <input type="text" name="Name" placeholder="Search products">
                                                <div class="search-icon">
                                                    <i class="fas fa-search special-tag"></i>
                                                </div>
                                            </div>
                                        </form>
                                    </li>
                                    @if (Session["User"] == null)
                                    {
                                        <li class="d-none d-lg-block"> <a href="/home/login" class="btn header-btn">Sign in</a></li>
                                    }
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>

        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">


                </div>
                <!-- Footer bottom -->
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5">
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->

    </footer>

    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="@Url.Content("/assets/js/vendor/modernizr-3.5.0.min.js")"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="@Url.Content("/assets/js/vendor/jquery-1.12.4.min.js")"></script>
    <script src="@Url.Content("/assets/js/popper.min.js")"></script>
    <script src="@Url.Content("/assets/js/bootstrap.min.js")"></script>
    <!-- Jquery Mobile Menu -->
    <script src="@Url.Content("/assets/js/jquery.slicknav.min.js")"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="@Url.Content("/assets/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("/assets/js/slick.min.js")"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="@Url.Content("/assets/js/wow.min.js")"></script>
    <script src="@Url.Content("/assets/js/animated.headline.js")"></script>
    <script src="@Url.Content("/assets/js/jquery.magnific-popup.js")"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="@Url.Content("/assets/js/jquery.scrollUp.min.js")"></script>
    @*
        <script src="@Url.Content("/assets/js/jquery.nice-select.min.js")"></script>*@
    <script src="@Url.Content("/assets/js/jquery.sticky.js")"></script>

    <!-- contact js -->
    <script src="@Url.Content("/assets/js/contact.js")"></script>
    <script src="@Url.Content("/assets/js/jquery.form.js")"></script>
    <script src="@Url.Content("/assets/js/jquery.validate.min.js")"></script>
    <script src="@Url.Content("/assets/js/mail-script.js")"></script>
    <script src="@Url.Content("/assets/js/jquery.ajaxchimp.min.js")"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="@Url.Content("/assets/js/plugins.js")"></script>
    <script src="@Url.Content("/assets/js/main.js")"></script>

    <!-- * OUR SCRIPTS * -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script>
        var currencySymbols = {
            "ILS": "₪",
            "USD": "$",
            "EUR": "€",
        };

        var currencyNames = {
            "ILS": "Shekel",
            "USD": "Dollar",
            "EUR": "Euro",
        };

        if (getCookie("currencyTicker") === null)
            setCookie("currencyTicker", "USD");

        currencyTicker = getCookie("currencyTicker");
        $("#currencies").val(currencyTicker);

        if (getCookie("currencyTicker") !== "USD")
            updatePrices("USD", getCookie("currencyTicker"));

        $("#currencies").change(function (event) {
            var oldTicker = getCookie("currencyTicker");
            var newTicker = event.target.value;
            setCookie("currencyTicker", newTicker);
            updatePrices(oldTicker, newTicker);
        });

        function updatePrices(oldTicker, newTicker) {
            $.ajax(`https://api.exchangeratesapi.io/latest?symbols=${newTicker}&base=${oldTicker}`)
                .done(function (data) {
                    var factor = data["rates"][newTicker];
                    $(".price-display").text(function (index, oldPrice) {
                        oldPrice = Number(oldPrice.trim().replaceAll(",", "").substring(1));
                        return currencySymbols[newTicker] + numberWithCommas((oldPrice * factor).toFixed(2));
                    });
                });
        }

        String.prototype.replaceAll = function (str1, str2, ignore) {
            return this.replace(new RegExp(str1.replace(/([\/\,\!\\\^\$\{\}\[\]\(\)\.\*\+\?\|\<\>\-\&])/g, "\\$&"), (ignore ? "gi" : "g")), (typeof (str2) == "string") ? str2.replace(/\$/g, "$$$$") : str2);
        }

        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
        function eraseCookie(name) {
            document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>