@model Mytems.Models.Seller
@using Mytems.Models

@{
    ViewBag.Title = "Details";
}

<h2 style="margin-left: 30px">Seller Details</h2>



<style>
    .card-body {
        text-align: center;
    }

    .card {
        display: block;
        margin: 5px auto;
    }
</style>

<div>
    <hr />
    <div class="card w-50">
        <div class="card-body">
            <h5 class="card-title">Username</h5>
            <hr />
            <p class="card-text">@Html.DisplayFor(model => model.Username)</p>
        </div>
    </div>
    @{
        User user = Session["User"] as User;
        if (user is Admin || user?.UserID == Model.UserID)
        {
            <div class="card w-50">
                <div class="card-body">
                    <h5 class="card-title">Password</h5>
                    <hr />
                    <p class="card-text">@Html.DisplayFor(model => model.Password)</p>
                </div>
            </div>
        }
    }
    <div class="card w-50">
        <div class="card-body">
            <h5 class="card-title">First Name</h5>
            <hr />
            <p class="card-text">@Html.DisplayFor(model => model.FirstName)</p>
        </div>
    </div>
    <div class="card w-50">
        <div class="card-body">
            <h5 class="card-title">Last Name</h5>
            <hr />
            <p class="card-text">@Html.DisplayFor(model => model.LastName)</p>
        </div>
    </div>
    <div class="card w-50">
        <div class="card-body">
            <h5 class="card-title">Phone Number</h5>
            <hr />
            <p class="card-text">@Html.DisplayFor(model => model.PhoneNumber)</p>
        </div>
    </div>
    <div class="card w-50">
        <div class="card-body">
            <h5 class="card-title">Location</h5>
            <hr />
            <p class="card-text">
                <iframe width="600" height="500"
                        src="https://maps.google.com/maps?q=@Url.Encode(Model.Location.Address)&t=&z=15&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no"
                        marginheight="0" marginwidth="0"></iframe>
            </p>
        </div>
    </div>
</div>





@{
    user = Session["User"] as User;
    if (user is Admin)
    {
        <div style="display: block; margin:30px auto; padding-left: 40%; padding-right: 40%">
            <a style="display: block; margin:10px auto;" class="btn btn-primary" href="/Sellers/edit/@Model.UserID">Edit</a>
            <a style="display: block; margin:0 auto;" class="btn btn-primary" href="/Sellers/index">Back to List</a>
        </div>
    }
    else if (user?.UserID == Model.UserID)
    {
        <div style="display: block; margin:30px auto; padding-left: 40%; padding-right: 40%">
            <a style="display: block; margin:0 auto;" class="btn btn-primary" href="/Sellers/edit/@Model.UserID">Edit</a>
        </div>
    }
}