@model Mytems.PresentationModels.Products.DetailsProduct
@using Mytems.Models
@{
    ViewBag.Title = "Details";
}

<div class="jumbotron">
    <h1 class="display-1 text-center" style="margin-left:0%;font-family:Bahnschrift;">Product Details</h1>
</div>



<div class="col-md-3" style="display:block;margin:0 auto;width:100%;font-size:200%">
    <div class="card mb-4 shadow-sm">
        <img class="card-img-top" src="@Model.ImagePath" alt="Card image cap">
        <div class="card-body">
            <h1 card-title">@Model.Name</h1>
            <p class="card-text" style="font-size:20px;">
                <b>Price:</b> <span class="price-display">$@Model.Price</span>
                <br />
                <b>Category:</b> @Model.Category
                <br />
                <b>Seller name:</b>  <a href="/sellers/details/@ViewData["sellerID"]">@Model.SellerUsername</a>
                <br />
                <b>Sold: @Model.Sold</b>
                <br />
                <b>Description:</b><br />
                @Model.Description
            </p>
        </div>
    </div>
    <a style="display: block; margin:0 auto;" class="btn btn-primary" href="/products/index">Back to List</a>

</div>



