@model IEnumerable<Mytems.ViewModels.Products.IndexProduct>
@using Mytems.Models

@{
    ViewBag.Title = "Index";
    User user = Session["User"] as User;
}

<div style="margin-left:5%;">
<h2>Index</h2>
    @{Html.RenderPartial("_Search", ViewData["SearchOptions"]);}

    <p>
        @if (user is Seller || user is Admin)
        {
            @Html.ActionLink("Create New", "Create")
        }
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellerUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img src="@item.ImagePath" style="width: 200px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sold)
            </td>
            <td>
                <div class="price-display">
                    @Html.DisplayFor(modelItem => item.Price)
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.CanBeEditedBy(user))
                {
                    @:@Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                    @:@Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { id = item.ProductID })
                }
            </td>
        </tr>
        }
</div>

</table>
